.sidebar-container {
  display: none !important;
}

.max-xl\:hx-hidden {
  display: none !important;
}

@media (min-width: 1024px) {
  .hx-flex > article,
  .hx-flex > main,
  .hx-flex > .hx-w-full {
    max-width: 100% !important;
    flex: 1 1 100% !important;
  }
} 